.parentdiv{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.parentdiv div{
	flex-grow: 1;
	flex-basis: 200px;
	background-color: green;
	text-align: center;
	margin: 10px;
	padding: 10px;
	
}

.maincontent{
	box-sizing: border-box;
	padding: 10px;
	margin: 5px;
	height: 170px;
	width: 500px;  
}