<div class="container-fluid text-center">
    <!-- Title -->
    <div class="container text-center my-4 pb-4">
        <div class="display-4 mb-2">Angular Bootcamp Jan-2021</div>
        <p class="lead">
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
        </p>
    </div>

    <!-- content -->
    <div class="container-fluid">
        
        <h3 class="h3 font-weight-normal mb-4">Free Courses</h3>

        <div class="card-deck">
             <div class="card border-0 shadow-sm mb-4"  *ngFor="let card of freeCardList">
                <app-card [data] = "card"></app-card>
            </div>
            <!--
            <div class="card border-0 shadow-sm mb-4">
                <app-card [data] = "cardList[1]"></app-card>
            </div>

            <div class="card border-0 shadow-sm mb-4">
                <app-card [data] = "cardList[2]"></app-card>
            </div> -->

        </div>
    
    </div>
    <div class="container-fluid mt-4">
        <h3 class="h3 font-weight-normal mb-4">Premium Courses</h3>
        <div class="row">
            <div class="col-12 col-sm-4 mb-4" *ngFor="let card of premiumCardList">
             <div class="card h-100 border-0 shadow-sm mx-1" >
                <app-card [data] = "card"></app-card>
            </div>
        </div>
        </div>
    
    </div>
</div>
