<!-- Footer -->
<footer class="bg-light p-4 border-top shadow-top-sm">
    
    <div class="row">

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <div class="text-uppercase lead">Angular Leaning Project</div>
            <p class="text-justify mt-2">Thanks for visiting this learining projects. This project is very first 
                project with the Angular Bootcamp programme. Stay connected with blessing.
            </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase mb-0 lead">Go to</h5>
            <nav class="d-md-flex flex-md-column mt-2">
                <a class="text-dark p-2" href="/landing">Home</a>
                <a class="text-dark p-2" href="/about">About Us</a>
                <a class="text-dark p-2" href="/resources">Resources</a>
                <a class="text-dark p-2" href="/support">Support</a>
            </nav>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0 lead">Connect with us</h5>

            <div class="d-md-flex flex-md-column mt-2">
                <a class="text-dark p-2" href="#">Facebook</a>
                <a class="text-dark p-2" href="#">Instagram</a>
                <a class="text-dark p-2" href="#">Twitter</a>
                <a class="text-dark p-2" href="#">Linked In</a>
            </div>
        </div>

    </div>

  
    <div class="text-center p-3">
        © 2021 Copyright:
        <a class="text-dark" href="#">Assignment Project</a>
    </div>
</footer>