.mat-form-field-flex{
  padding: 0 !important;
}
.select-label {
  margin: 0 20vw !important;
  font-weight: 400 !important;
}
@media screen and (max-width: 768px) {
  .select-label {
    margin: 0 35vw !important;
  }
}
