<div class="container-fluid">
    <div class="container text-center my-4 pb-4">
        <div class="display-4 mb-2">About the bootcamp</div>
        <p class="lead">
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
        </p>
    </div>
    <div class="container-fluid">
        <p class="">
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
        </p>
    </div>
</div>