<main class="container">
  <div class="page-header px-3 py-3 mx-auto text-center">
    <h1 class="display-4">Angular Bootcamp Jan-2021</h1>

    <p class="lead">
      In this Angular Bootcamp January 2021, we are going to learn how to make professional web application development. We will start from the beginning level, but we will take our level at any enterprise level software development knowledge.
    </p>
  </div>

  <app-box-list [title]="studentTitle" [cardList]="studentList"></app-box-list>
  <app-box-list [title]="teacherTitle" [cardList]="teacherList"></app-box-list>

</main>
