<header>
    <div class="header d-flex bg-light border-bottom shadow-sm  flex-column flex-md-row align-items-center px-4 py-2 ">
      <div class="h5 mr-md-auto lead">Angular Leaning Project</div>
      <nav class="nav mr-md-auto">
        <a class="text-dark p-2" href="/landing">Home</a>
        <a class="text-dark p-2" href="/about">About Us</a>
        <a class="text-dark p-2" href="/resources">Resources</a>
        <a class="text-dark p-2" href="/support">Support</a>
      </nav>
    </div>
  </header>
