<div class="container-fluid text-center mb-4 pb-4">
    <div class="container text-center my-4 pb-4">
        <div class="display-4 mb-2">Angular Bootcamp Jan-2021</div>
        <p class="lead">
            In this Angular Bootcamp January 2021, we are going to learn how to make professional web application
            development.We will start from the begining level but we will take our level at any enterprise level
            software development knowledge.
        </p>
    </div>

<div class="container-fluid mt-4">
<app-databox [cardTitle]="studentInfo.cardTitle" [cardList]="studentInfo.cardList"></app-databox>
</div>
<div class="container-fluid mt-4">
<app-databox [cardTitle]="teacherInfo.cardTitle" [cardList]="teacherInfo.cardList"></app-databox>
</div>
<div class="container-fluid mt-4 mb-4 pb-4">
    <div class="mb-4 pb-4">
      <h3 class="h3 font-weight-normal">Introduction form with Angular select Material</h3>
    </div>
    <div class="w-75 pt-4 mx-auto">
        <app-form class=""></app-form>
    </div>
</div>
